<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	id="cordova-plugin-eyc-app-preferences">

	<name>EYCAppPreferences</name>
	<description>Application preferences plugin and preference pane generator</description>
	<license>Apache</license>
	<keywords>preferences, settings</keywords>

	<js-module src="www/apppreferences.js">
		<clobbers target="plugins.appPreferences" />
	</js-module>

	<asset src="www/task/AppPreferences.js" target="task/AppPreferences.js" />

	<!-- android -->
	<platform name="android">
		<!--<config-file target="res/xml/config.xml" parent="/*">
			<feature name="AppPreferences" >
				<param name="android-package" value="me.apla.cordova.AppPreferences"/>
			</feature>
		</config-file>-->

		<source-file src="src/android/AppPreferences.java" target-dir="src/me/apla/cordova" />
	</platform>
</plugin>
